/*!
Theme Name: OSTD
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: ostd
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

OSTD is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

.footer__wrap {
	max-width: 100%;
}

@media (max-width: 1099.98px) {
	.footer__body {
		justify-content: space-between;
	}

	.footer__left {
		width: auto;
	}

	.footer__contact {
		background-color: #eff8ff;
		margin-top: 0px;
		width: auto;
		padding: 40px 50px;
	}

	.contact-widget__text {
		color: #0b223d;
	}

	.footer__contact {
		border-radius: 12px 12px 0 0;
	}

	.footer__contact:after {
		height: 10px;
	}
}

@media (max-width: 767.98px) {
	.footer__body {
		justify-content: center;
	}

	.footer__terms {
		text-align: center;
	}

	.footer__left {
		padding-left: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer__logo {
		margin: 0 auto;
	}

	.footer__nav {
		margin-top: 20px;
	}

	.footer-social__item:last-child {
		margin-right: 0px;
	}

	.footer__terms {
		padding: 5px 0 0px;
	}
}

@media (max-width: 576px) {
	.footer .nav__link {
		width: auto;
		padding: 0;
	}

	.footer__contact {
		text-align: center;
	}
}

@media (max-width: 480px) {
	.footer__contact {
		width: 100%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-widget__title {
		margin-bottom: 20px;
	}
}

@media (max-width: 380px) {
	.footer {
		padding-top: 25px;
	}

	.footer__left {
		width: 100%;
	}

	.footer__nav {
		justify-content: center;
	}

	.contact-widget__text {
		font-size: 16px;
	}

	.footer .nav__link {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}
}

@media only screen and (max-width: 1100px) {
	.header .header__contact {
		background: #eff8ff;
		padding-bottom: 35px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
	.header .header__contact {
		background: #eff8ff;
		margin-top: 20px;
	}

	.header__mob-menu {
		height: auto;
	}
}

@media only screen and (max-width: 767px) {
	.header .header__contact .contact-widget__text {
		/* color: #fff; */
	}

	.header .header__contact {
		max-width: none;
	}
}

@media only screen and (min-width: 1200px) {
	.info-block .subtitle {
		line-height: 1.4;
	}

	.info-block .heading-lg {
		font-size: 38px;
	}
}

.solution-widget__wrap h2 {
	font-size: 45px;
	line-height: 2;
	text-align: center;
}

.solution-widget__wrap .heading-lg.solution-widget__title {
	font-size: 30px;
	line-height: 1.5;
	font-family: 'NotoSansJP', sans-serif;
	font-weight: 400;
}