@charset "UTF-8";
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Heavy.eot");
  src: url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Heavy.woff2") format("woff2"), url("../fonts/Avenir-Heavy.woff") format("woff"), url("../fonts/Avenir-Heavy.ttf") format("truetype"), url("../fonts/Avenir-Heavy.svg#Avenir-Heavy") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Book';
  src: url("../fonts/Avenir-Book.eot");
  src: url("../fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Book.woff2") format("woff2"), url("../fonts/Avenir-Book.woff") format("woff"), url("../fonts/Avenir-Book.ttf") format("truetype"), url("../fonts/Avenir-Book.svg#Avenir-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue-Regular.eot");
  src: url("../fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/BebasNeue-Regular.svg#BebasNeue-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir-Black.eot");
  src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype"), url("../fonts/Avenir-Black.svg#Avenir-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url("../fonts/NotoSansJP-Regular-Alphabetic.eot");
  src: url("../fonts/NotoSansJP-Regular-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansJP-Regular-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansJP-Regular-Alphabetic.woff") format("woff"), url("../fonts/NotoSansJP-Regular-Alphabetic.ttf") format("truetype"), url("../fonts/NotoSansJP-Regular-Alphabetic.svg#NotoSansJP-Regular-Alphabetic") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url("../fonts/NotoSansJP-Medium-Alphabetic.eot");
  src: url("../fonts/NotoSansJP-Medium-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansJP-Medium-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansJP-Medium-Alphabetic.woff") format("woff"), url("../fonts/NotoSansJP-Medium-Alphabetic.ttf") format("truetype"), url("../fonts/NotoSansJP-Medium-Alphabetic.svg#NotoSansJP-Medium-Alphabetic") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@keyframes arrow {
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideDown {
  0% {
    max-height: 0;
  }
  80% {
    max-height: 300px;
  }
  100% {
    max-height: 10000px;
  }
}
@keyframes slideUp {
  0% {
    max-height: 10000px;
  }
  10% {
    max-height: 300px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}
html{
  transition: 0.3s;
}
body {
  font-size: 16px;
  line-height: 1;
  font-family: 'Avenir', sans-serif;
  overflow-x: hidden;
  color: #0B223D;
}
body.fixed {
  overflow: hidden;
}

[data-video] * {
  pointer-events: none;
}

svg {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
}

.logo {
  display: block;
  max-width: 186px;
  margin: 0 auto 0 0;
}
.logo img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: left;
}

.main {
  width: 100%;
  overflow: hidden;
}

.main-bg {
  background-color: #EFF8FF;
}

/* hide "download pdf" button */
.home-title-block__btns{
	display: none;
}

.footer-social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 10px;
	padding-top: 10px;
}
.footer-social__item{
	margin-right: 25px;
	margin-bottom: 10px;
}
.footer-social__item img{
	width: 28px;
	height: auto;
}
@media only screen and (max-width: 767px){
  .footer-social__item img{
    width: 38px;
  }
  .footer-social{
    justify-content: center;
  }
  .footer-social__item{
    margin-right: 10px;
    margin-left: 10px;
  }
}

.gradient-bg {
  background: linear-gradient(269.89deg, #EFF8FF 12.54%, rgba(239, 248, 255, 0) 104.27%);
}

.gradient-bg--secondary {
  background: linear-gradient(180deg, #EEF8FF 0%, rgba(238, 248, 255, 0) 100%);
}

.second-bg {
  background-color: #FEFEFE;
}

.third-bg {
  background-color: #1B4270;
}

.d-none {
  display: none;
}

h1, .heading {
  font-size: 46px;
  font-weight: 900;
  line-height: 1;
}

h2, .heading-lg {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.02;
}

h3, .heading-md {
  font-weight: 900;
  font-size: 36px;
}

h4, .heading-sm {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.28125;
}

h5, .heading-xs {
  font-size: 24px;
  line-height: 1;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}
.subtitle--main {
  color: #36A2DF;
}

.body-text {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'NotoSansJP', sans-serif;
  color: #595959;
}

.text-lg {
  font-size: 22px;
  line-height: 1.36;
}

.container {
  max-width: 1552px;
  padding: 0 20px;
  margin: 0 auto;
}
.container--xxl {
  max-width: 1296px;
}
.container--lg {
  max-width: 1040px;
}
.container--md {
  max-width: 680px;
}

.page--steps {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 1399.98px) {
  h1, .heading {
    font-size: 46px;
  }
  html{
    zoom: 0.7;
  }
}
@media all and (max-width: 1199.98px) {
  h1, .heading {
    font-size: 46px;
  }

  h2, .heading-lg {
    font-size: 43px;
  }

  h3, .heading-md {
    font-size: 38px;
  }

  h4, .heading-sm {
    font-size: 29px;
  }

  h5, .heading-xs {
    font-size: 22px;
  }

  .subtitle {
    font-size: 22px;
  }
  .subtitle--main {
    color: #36A2DF;
  }
}
@media all and (max-width: 1098.98px) {
  html{
    zoom: 0.8;
  }
}
@media all and (max-width: 767.98px) {
  html{
    zoom: 1;
  }
  h1, .heading {
    font-size: 28px;
  }

  h2, .heading-lg {
    font-size: 28px;
  }

  h3, .heading-md {
    font-size: 20px;
  }

  h4, .heading-sm {
    font-size: 20px;
  }

  h5, .heading-xs {
    font-size: 20px;
  }

  .subtitle {
    font-size: 18px;
  }

  .text-lg {
    font-size: 18px;
  }

  .logo {
    height: 32px;
  }

  .body-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.spinner {
  width: 50px;
  display: block;
  height: 50px;
  position: relative;
}
.spinner:after {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: 1s;
  border: 8px solid rgba(29, 156, 227, 0.2);
  border-top: 8px solid rgba(29, 156, 227, 0.8);
  animation: spinner 1s linear infinite;
  content: "";
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.449008px;
  line-height: 24px;
  font-family: 'Avenir',sans-serif;
  transition: 0.3s;
  background: none;
  outline: none;
  min-height: 54px;
  box-shadow: 0px 8.98017px 35.9207px rgba(187, 195, 255, 0.22);
}
.btn span{
    text-align: center;
}
.btn--main {
  background-color: #1D9CE3;
  color: #fff;
}
.btn--secondary {
  border: 2px solid #1D9CE3;
  color: #1D9CE3;
}
.btn--secondary-light {
  border: 2px solid #fff;
  color: #fff;
}
.btn--xl {
  max-width: 305px;
}
.btn--lg {
  max-width: 256px;
}
.btn--md {
  max-width: 176px;
}

@media (min-width: 1099.98px) {
  .btn--main:hover {
    background-color: #177db6;
  }
  .btn--secondary-light:hover {
    background-color: #fff;
    color: #1B4270;
  }
  .btn--secondary:hover {
    background-color: #1D9CE3;
    color: #fff;
    border-color: transparent;
  }
}
@media all and (max-width: 767.98px) {
  .btn {
    font-size: 16px;
    line-height: 24px;
  }
  .btn--main {
    max-width: none;
  }
}
.cust-input {
  display: block;
  width: 100%;
  position: relative;
}
.cust-input__input {
  width: 100%;
  background-color: transparent;
  border: 0;
  padding-bottom: 24px;
  outline: none;
  transition: 0.3s;
  border-bottom: 3px solid #D3EDFF;
  font-size: 18px;
}
.cust-input__input:focus {
  border-bottom-color: #0B223D;
}
.cust-input__input:focus::placeholder {
  color: #36A2DF;
}
.cust-input__input::placeholder {
  color: #595959;
  transition: 0.3s;
  opacity: 1;
}
.cust-input--area:after {
  pointer-events: none;
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 40px;
  border-bottom: 3px solid #0B223D;
  transform: translateX(-50%);
  content: "";
}
.cust-input--area .cust-input__input {
  height: 100%;
  resize: none;
}

.cust-list {
  padding: 0;
}
.cust-list li {
  display: flex;
  padding-left: 24px;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: 'NotoSansJP', sans-serif;
}
.cust-list li:not(:last-child) {
  margin-bottom: 16px;
}
.cust-list li:before {
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #83C4E9;
  content: "";
}

.cust-pagin, .page-numbers {
  display: flex;
  padding: 0;
  align-items: stretch;
}
.cust-pagin li,
.page-numbers li{
  list-style: none;
}
.cust-pagin li:not(:last-child),
.page-numbers li:not(:last-child){
  margin-right: 8px;
}
.cust-pagin li.active a,
.cust-pagin li:hover a,
.page-numbers li.active a,
.page-numbers li span,
.page-numbers li:hover a{
  background-color: #1D9CE3;
  color: #fff;
}
.cust-pagin li a,
.page-numbers li a,
.page-numbers li span{
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #EFF8FF;
  color: #1D9CE3;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  font-family: 'NotoSansJP', sans-serif;
  transition: 0.3s;
}

.page-numbers li span{
  background-color: #1D9CE3;
  color: #fff;
}

.burger {
  width: 32px;
  height: 45px;
  padding: 16px 0 16px 13px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.burger__line {
  margin-left: auto;
  border-radius: 3px;
  width: 100%;
  transition: 0.3s;
  height: 1.67px;
  flex-shrink: 0;
  background-color: #000;
}
.burger__line:nth-of-type(1) {
  width: 100%;
  transform-origin: right;
}
.burger__line:nth-of-type(2) {
  transform: scaleX(0.55);
  transform-origin: right;
}
.burger__line:nth-of-type(3) {
  transform-origin: right;
  transform: scaleX(0.777);
}
.burger.active .burger__line:nth-of-type(1) {
  width: 100%;
  transform: translateY(-2.5px) rotate(-45deg);
}
.burger.active .burger__line:nth-of-type(2) {
  transform: scaleX(0);
}
.burger.active .burger__line:nth-of-type(3) {
  transform: scaleX(1) rotate(45deg);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.popup__back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup__wrap {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.popup__content {
  width: 100%;
  z-index: 2;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}

.burger {
  width: 32px;
  height: 45px;
  padding: 16px 0 16px 13px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.burger__line {
  margin-left: auto;
  border-radius: 3px;
  width: 100%;
  transition: 0.3s;
  height: 1.67px;
  flex-shrink: 0;
  background-color: #000;
}
.burger__line:nth-of-type(1) {
  width: 100%;
  transform-origin: right;
}
.burger__line:nth-of-type(2) {
  transform: scaleX(0.55);
  transform-origin: right;
}
.burger__line:nth-of-type(3) {
  transform-origin: right;
  transform: scaleX(0.777);
}
.burger.active .burger__line:nth-of-type(1) {
  width: 100%;
  transform: translateY(-2.5px) rotate(-45deg);
}
.burger.active .burger__line:nth-of-type(2) {
  transform: scaleX(0);
}
.burger.active .burger__line:nth-of-type(3) {
  transform: scaleX(1) rotate(45deg);
}

.js-toggleActive {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60px;
  right: 0;
  width: 24px;
  height: 24px;
  border: none;
  font-family: 'Avenir', sans-serif;
  border-radius: 50%;
  background-color: #E9EEFF;
  outline: none;
  z-index: 2;
}
.js-toggleActive:after {
  display: block;
  content: "+";
  font-size: 20px;
  font-weight: 900;
}
.js-toggleActive * {
  pointer-events: none;
}

.flash {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}
.flash:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
}
.flash.active {
  visibility: visible;
  opacity: 1;
}
.flash__wrap {
  z-index: 2;
  max-width: 488px;
  background-color: #fff;
  padding: 21px 20px;
  display: flex;
  align-items: center;
}
.flash__wrap:before {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background-size: 100% 100%;
  content: "";
}
.flash__spinner {
  display: none;
}
.flash--load .flash__wrap:before {
  display: none;
}
.flash--load .flash__spinner {
  display: block;
}
.flash__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Avenir', sans-serif;
  display: none;
}
.flash__text--success {
  color: #00C938;
}
.flash__text--deny {
  color: #EE3B3B;
}
.flash__text--neutral {
  color: #1D9CE3;
}
.flash--success .flash__wrap {
  background-color: #EFFFEF;
}
.flash--success .flash__wrap:before {
  background: url("../img/svg/greenCheck.svg");
}
.flash--success .flash__text--success {
  display: block;
}
.flash--deny .flash__wrap {
  background-color: #FFF4F4;
}
.flash--deny .flash__wrap:before {
  background: url("../img/svg/deny.svg");
}
.flash--deny .flash__text--deny {
  display: block;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav__link {
  display: block;
  padding: 12px 0;
  font-weight: 500;
  transition: 0.3s;
  color: #0B223D;
}
.nav__link.active, .nav__link:hover {
  color: #1D9CE3;
}
.nav__link, .nav__submenu a {
  font-size: inherit;
  flex-shrink: 0;
  text-decoration: none;
  position: relative;
}
.nav .nav__link {
  cursor: pointer;
}
.nav .nav__link:not(:last-child) {
  margin-right: 48px;
}
.nav p {
  display: flex;
  align-items: center;
}
.nav__link-icon {
  width: 10px;
  height: 5px;
  margin-left: 10px;
}
.nav__link-icon img {
  display: block;
  width: 100%;
}
.nav__link:hover > .nav__submenu {
  opacity: 1;
  visibility: visible;
}
.nav__submenu {
  background-color: #fff;
  min-width: 160px;
  z-index: 4;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0px 0px 16px rgba(187, 195, 255, 0.25);
}
.nav__submenu:after {
  position: absolute;
  bottom: 100%;
  left: 20%;
  z-index: -1;
  border-bottom: 12px solid #fff;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: "";
}
.nav__submenu li a {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.229348px;
  display: block;
  transition: 0.3s;
  color: #36A2DF;
  padding: 8px 0;
}
.nav__submenu li a:hover {
  color: #186997;
}

@media (max-width: 1099.98px) {
  .nav__link > p {
    display: none;
  }
  .nav__submenu {
    margin: -12px 0;
    visibility: visible;
    opacity: 1;
    position: static;
    padding: 0;
    box-shadow: none;
  }
  .nav__submenu li a {
    font-weight: 500;
    color: #0B223D;
    font-size: 18px;
  }
}
.header {
  padding: 23px 0;
  position: relative;
}
.header.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
  background: #ffffff;
  z-index: 9;
}
.header__wrap {
  display: flex;
  align-items: center;
}
.header__tools {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}
.header__tools a.link{
  display: block;
  font-weight: 500;
  transition: color .3s;
  color: #0b223d;
  text-decoration: none;
}
.header__tools a.link:hover{
  color: #1d9ce3;
}
.header__tools a{
  margin-right: 20px;
  white-space: pre;
}
.header__tools a:last-child{
  margin-right: 0;
}
.header__logo {
  display: block;
  max-width: 185px;
  max-height: 40px;
  margin-right: 70px;
  padding-bottom: 15px;
}
.header__logo img {
  display: block;
  width: 100%;
}
.header__nav {
  font-size: 18px;
}

.header__mob-menu {
    padding: 0 21.5px 24px;
    position: fixed;
    top: 56px;
    background-color: #fff;
    z-index: 4;
    left: 0;
    opacity: 0;
    width: 100%;
    height: calc(100vh - 56px);
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.3s;
    display: none;
}
.header__mob-menu.active {
  visibility: visible;
  opacity: 1;
    transform: translateX(0);
}
.header__burger {
  display: none;
  flex-shrink: 0;
}
.header__btn {
  width: 256px;
}

@media all and (max-width: 1099.98px) {
  .header__tools a.link{
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .header__burger {
    display: flex;
    z-index: 5;
    margin-left: auto;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__nav, .header__tools {
    display: none;
    margin-left: 0;
  }
  .header__mob-menu .header__nav, .header__mob-menu .header__tools {
    display: block;
  }
  .header__mob-menu {
    flex-direction: column;
      display: flex;
  }
  .header__mob-menu.active {
    opacity: 1;
    display: flex;
    visibility: visible;
  }
  .header__mob-menu .header__nav {
    padding: 0 23px;
  }
  .header .header__contact {
    width: 100%;
    margin-top: auto;
    max-width: 400px;
    min-width: 0;
    margin-bottom: 12px;
  }
  .header .header__contact:after {
    top: auto;
    bottom: 0;
    height: 18px;
  }
}
@media all and (max-width: 767.98px) {
  .header {
    padding: 6px 0;
  }
  .header__tools {
    width: 100%;
  }
  .header__tools .btn {
    width: 100%;
  }
}
.footer {
  position: relative;
  padding: 32px 0 0;
}
.footer__wrap {
  position: relative;
  z-index: 1;
  max-width: 1387px;
}
.footer__left {
  padding-top: 40px;
  padding-right: 16px;
  flex-shrink: 0;
}
.footer__body {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #DBDDDE;
}
.footer__contact {
  margin-left: auto;
}
.footer__logo {
  max-width: 186px;
  flex-shrink: 1;
}
.footer__nav {
  margin-top: 32px;
  font-size: 16px;
}
.footer__nav .nav__link:not(:last-child){
  margin-right: 32px;
}
.footer__terms {
  padding: 24px 0;
}

.footer .contact-widget__text{
  padding-left: 10px;
}
.footer .contact-widget__text:first-child{
  padding-left: 0;
}

@media all and (max-width: 1099.98px) {
  .footer__left {
    padding-top: 0;
    width: 100%;
  }
  .footer__body {
    flex-wrap: wrap;
  }
  .footer__contact {
    margin-top: 16px;
    margin-left: 0;
  }
  .footer__terms {
    padding: 40px 0 24px 0;
  }
}
@media all and (max-width: 767.98px) {
  .footer {
    background-size: 100% auto;
    background-position: 0 0px;
    padding: 90px 0 24px;
  }
  .footer__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__socials {
    width: 100%;
  }
  .footer__tools {
    margin-top: 54px;
    width: 100%;
  }
  .footer__terms {
    margin-top: 18px;
  }
}
@media all and (max-width: 576px) {
  .footer {
    padding: 48px 0 24px;
  }
  .footer__left {
    padding-right: 0;
  }
  .footer__terms {
    text-align: center;
    padding: 30px 0 0;
  }
  .footer .nav__link {
    width: 50%;
    padding: 0 30px;
  }
  .footer .nav__link:nth-of-type(2n) {
    padding-right: 0;
  }
  .footer .nav__link:nth-of-type(n) {
    margin: 0 0 18px;
  }
}
.title-block {
  padding: 135px 0 136px;
}
.title-block * {
  z-index: 1;
  position: relative;
}

.title-block--home {
  background: linear-gradient(269.89deg, #EFF8FF 12.54%, rgba(239, 248, 255, 0) 104.27%);
  padding-bottom: 147px;
}
.title-block--home .title-block__img{
    right: -15%;
}
.title-block__title {
  max-width: 744px;
}
.title-block--home .title-block__desc {
  color: #595959;
}
.title-block__subtitle {
  margin-bottom: 42px;
  font-weight: 500;
  text-align: center;

}
.title-block__desc {
  max-width: 375px;
  margin: 22px 0 60px;
  font-size: 22px;
  line-height: 31px;
}
.title-block__btns {
  display: flex;
}
.title-block__btn:not(:last-child) {
  margin-right: 24px;
}
.title-block__img {
  z-index: 0;
  width: 82%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.title-block__img img {
  width: 100%;
}
.title-block__img .mobile {
  display: none;
}

@media (max-width: 1399.98px) {
  .title-block__title{
    max-width: 650px;
  }
}
@media (max-width: 975.98px) {
  /*.title-block__img {
    left: 30%;
  }*/
}
@media (max-width: 767.98px) {
  .title-block {
    padding: 0px 0 60px;
  }
  .title-block__wrap {
    display: flex;
    flex-direction: column;
  }
  .title-block__subtitle {
    text-align: left;
  }
  .title-block * {
    order: 1;
  }
  .title-block__desc {
    max-width: 360px;
    font-size: 18px;
    line-height: 24px;
    margin: 12px 0 40px;
    font-weight: 400;
  }
  .title-block .title-block__img {
    max-width: 375px;
    width: 100%;
    order: 0;
    transform: none;
    position: static;
  }
  .title-block .title-block__img .mobile {
    display: block;
  }
  .title-block .title-block__img .desk {
    display: none;
  }
}
.title-block--secondary {
  padding: 48px 0 42px;
}
.title-block--secondary .title-block__title, .title-block--secondary .title-block__desc {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.title-block--secondary .title-block__desc {
  margin-top: 32px;
}
.title-block--secondary .title-block__img {
  position: absolute;
  max-width: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767.98px) {
  .title-block--secondary .title-block__title, .title-block--secondary .title-block__desc {
    text-align: left;
  }
}
.title-block--third {
  padding-left: 128px;
}
.title-block--third .title-block__title {
  max-width: 800px;
}
.title-block--third .title-block__subtitle {
  max-width: 872px;
  text-align: left;
  font-weight: 600;
  margin-top: 24px;
}

@media (max-width: 1599.98px) {
  .title-block--third {
    padding-left: 80px;
  }
  .title-block--third .title-block__title, .title-block--third .title-block__subtitle {
    max-width: 700px;
  }
}

@media (max-width: 975.98px) {
    .title-block__img{
        right: -10%;
    }
  .title-block--third {
    padding-left: 0px;
  }
  .title-block--third .title-block__title, .title-block--third .title-block__subtitle {
    max-width: 600px;
  }
}
@media (max-width: 767.98px) {
  .title-block--third .title-block__img {
    max-width: 500px;
  }
}
.title-block--fourth {
  padding: 0 0 0 128px;
}
@media (max-width: 1599.98px) {
  .title-block--fourth {
    padding-left: 80px;
  }
}
@media (max-width: 975.98px) {
  .title-block--fourth {
    padding-left: 0px;
  }
}
.title-block--fourth .title-block__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-block--fourth.blog__title-block .title-block__wrap {
   justify-content: space-between;
   max-width: 1380px;
   margin: 0 auto;
 }
.title-block--fourth .title-block__img {
  position: static;
  max-width: 765px;
  transform: translateX(30px);
}


.cloud-steps__wrap {
  padding: 0 13px;
}
.cloud-steps__title {
  text-align: center;
  margin-bottom: 58px;
}
.cloud-steps__start {
  margin-bottom: -2px;
  width: 50%;
  height: 78px;
  border-right: 2px solid #BFE8FF;
  border-bottom: 2px solid #BFE8FF;
  border-radius: 0 0 15px 0;
  position: relative;
}
.cloud-steps__start:before {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 6px solid #1D9CE3;
  transform: translate(50%, -100%);
  content: "";
}
.cloud-steps__item {
  min-height: 212px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cloud-steps__item .arrow {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.cloud-steps__item.left {
  transform: translateX(-13px);
}
.cloud-steps__item.left .arrow {
  left: 75%;
}
.cloud-steps__item.left:before, .cloud-steps__item.left:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 43px;
  border-left: 2px solid #BFE8FF;
  border-top: 2px solid #BFE8FF;
  border-radius: 15px 0 0 0;
  content: '';
}
.cloud-steps__item.left:after {
  top: auto;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-top: 0;
  border-left: 2px solid #BFE8FF;
  border-bottom: 2px solid #BFE8FF;
  border-radius: 0 0 0 15px;
}
.cloud-steps__item.right {
  margin-left: auto;
}
.cloud-steps__item.right .arrow {
  right: 80%;
  transform: translateY(50%) rotate(180deg);
}
.cloud-steps__item.right:before, .cloud-steps__item.right:after {
  position: absolute;
  top: 0px;
  right: 0;
  width: 20%;
  height: 43px;
  border-right: 2px solid #BFE8FF;
  border-top: 2px solid #BFE8FF;
  border-radius: 0 15px 0 0;
  content: '';
}
.cloud-steps__item.right:after {
  top: auto;
  bottom: -2px;
  right: 0;
  width: 100%;
  border-top: 0;
  border-right: 2px solid #BFE8FF;
  border-bottom: 2px solid #BFE8FF;
  border-radius: 0 0 15px 0;
}
.cloud-steps__item:nth-last-child(2) .arrow {
  display: none;
}
.cloud-steps__item:nth-last-child(2):after {
  width: 50%;
}
.cloud-steps__item.last {
  min-height: 232px;
  padding-top: 20px;
}
.cloud-steps__item.last .arrow {
  left: 45%;
  top: 20px;
  bottom: auto;
  transform: translate(-50%, 50%) rotate(90deg);
}
.cloud-steps__item.last:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 43px;
  border-radius: 15px 0 0 0;
  border-top: 2px solid #BFE8FF;
  border-left: 2px solid #BFE8FF;
  content: "";
}

@media (max-width: 975.98px) {
  .cloud-steps__start {
    height: 50px;
    border-radius: 0 0 25px 0;
    width: 47%;
    left: 3%;
  }
  .cloud-steps__item.left .arrow, .cloud-steps__item.right .arrow, .cloud-steps__item.last .arrow {
    right: auto;
    transform: translateX(-50%) rotate(90deg);
    left: 0;
  }
  .cloud-steps__item.left:before, .cloud-steps__item.right:before, .cloud-steps__item.last:before {
    left: -0.5px;
    width: auto;
    right: auto;
  }
  .cloud-steps__item.left:after, .cloud-steps__item.right:after, .cloud-steps__item.last:after {
    left: 0;
    top: 140px;
    right: auto;
    width: auto;
    height: calc(100% - 120px);
  }
  .cloud-steps__item.first:before {
    width: 20px;
  }
  .cloud-steps__item.left:before {
    left: 0.5px;
  }
  .cloud-steps__item.last:before {
    left: 1px;
  }
}
.cloud-block {
  padding: 136px 0 82px;
}
.cloud-block__title {
  margin: 0 auto;
  max-width: 936px;
  text-align: center;
}
.cloud-block__steps {
  margin-top: 34px;
}

@media (max-width: 767.98px) {
  .cloud-block {
    padding: 48px 0 20px;
  }
}
.cloud-item__wrap {
  display: flex;
  align-items: center;
  position: relative;
  transform: translateX(-30px);
}
.cloud-item__icon {
  width: 60px;
  height: 60px;
  margin-right: 45px;
}
.cloud-item__content {
  position: relative;
}
.cloud-item__item {
  transition: 0.3s;
  flex-shrink: 0;
}
.cloud-item__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 12px;
  max-width: 350px;
}
.cloud-item__desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 350px;
  font-family: 'NotoSansJP', sans-serif;
}
.cloud-item__hidden {
  background-color: #fff;
  position: absolute;
  display: flex;
  left: 0;
  min-width: 100%;
  top: 0;
  transition: 0.3s;
}
.cloud-item__hidden .cloud-item__item {
  max-width: 324px;
}
.cloud-item__hidden .cloud-item__item:not(:first-child) {
  padding-left: 24px;
  margin-left: 24px;
  border-left: 3px solid #EEF0FF;
}
.cloud-item__hidden .cloud-item__desc, .cloud-item__hidden .cloud-item__title {
  max-width: 300px;
}
.cloud-item.right .cloud-item__wrap {
  flex-direction: row-reverse;
  transform: translateX(30px);
}
.cloud-item.right .cloud-item__icon {
  margin-left: 45px;
  margin-right: 0;
}
.cloud-item.right .cloud-item__hidden {
  left: auto;
  right: 0;
  flex-direction: row-reverse;
}
.cloud-item.right .cloud-item__hidden .cloud-item__item:nth-of-type(n) {
  border: none;
}
.cloud-item.right .cloud-item__hidden .cloud-item__item:not(:last-child) {
  padding-left: 24px;
  margin-left: 24px;
  border-left: 3px solid #EEF0FF;
}
.cloud-item.last .cloud-item__icon {
  color: transparent;
  margin: 0;
}
.cloud-item.last .cloud-item__wrap {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cloud-item.last .cloud-item__hidden {
  left: 50%;
  transform: translateX(-50%);
}
.cloud-item.last .cloud-item__hidden .cloud-item__item {
  margin: 0 auto;
}
.cloud-item__open {
  display: none;
}

@media (max-width: 1599.98px) {
  .cloud-item__hidden .cloud-item__item {
    max-width: 250px;
  }
}
@media (max-width: 1199.98px) {
  .cloud-item__hidden .cloud-item__item {
    max-width: 220px;
  }
}
@media (min-width: 975.98px) {
  .cloud-item:hover .cloud-item__hidden {
    opacity: 1;
  }
  .cloud-item__hidden {
    opacity: 0;
  }
  .cloud-item:hover .cloud-item__content > .cloud-item__item {
    opacity: 0;
  }
}
@media (max-width: 975.98px) {
  .cloud-item {
    padding: 60px 0 40px;
    min-height: 0;
  }
  .cloud-item__wrap {
    align-items: flex-start;
  }
  .cloud-item__icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }
  .cloud-item__title {
    font-size: 20px;
    line-height: 24px;
  }
  .cloud-item__open {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60px;
    right: 0;
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    font-family: 'Avenir', sans-serif;
    border-radius: 50%;
    background-color: #E9EEFF;
    outline: none;
    z-index: 2;
  }
  .cloud-item__open:after {
    display: block;
    content: "+";
  }
  .cloud-item__open * {
    pointer-events: none;
  }
  .cloud-item.active .cloud-item__open:after {
    content: "\2013";
  }
  .cloud-item__hidden {
    position: static;
    display: block;
    max-height: 0;
    overflow: hidden;
  }
  .cloud-item.active .cloud-item__hidden {
    margin-top: 48px;
  }
  .cloud-item__hidden .cloud-item__item:nth-of-type(n), .cloud-item.right .cloud-item__hidden .cloud-item__item:nth-of-type(n) {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
  }
  .cloud-item__hidden .cloud-item__desc, .cloud-item__hidden .cloud-item__title {
    max-width: 400px;
  }
  .cloud-item__hidden .cloud-item__title {
    font-size: 16px;
    line-height: 24px;
    color: #1D9CE3;
    margin-bottom: 4px;
  }
  .cloud-item__hidden .cloud-item__item {
    max-width: none;
  }
  .cloud-item__hidden .cloud-item__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .cloud-item.active .cloud-item__hidden {
    max-height: 500px;
  }
  .cloud-item__desc {
    max-width: 400px;
  }
  .cloud-item.right .cloud-item__icon, .cloud-item__icon {
    margin-left: 0;
    margin-right: 24px;
  }
  .cloud-item.left {
    transform: none;
  }
  .cloud-item__wrap {
    transform: translateX(-22px);
  }
  .cloud-item.right .cloud-item__wrap {
    flex-direction: row-reverse;
    transform: translateX(-22px);
  }
  .cloud-item.right .cloud-item__wrap {
    flex-direction: row;
  }
  .cloud-item.last .cloud-item__wrap {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  .cloud-item.last .arrow {
    top: 30px;
  }
  .cloud-item.last .cloud-item__icon {
    margin: 0;
    margin-right: 16px;
    color: transparent;
  }
  .cloud-item.last .cloud-item__hidden {
    position: static;
    transform: none;
  }
  .cloud-item.last {
    padding-top: 60px;
    min-height: 0;
  }
  .cloud-item.last .cloud-item__hidden .cloud-item__item {
    margin: 0 auto 0 0;
  }
}
.partners {
  padding: 57px 0 78px;
  background-color: #EFF8FF;
}
.partners__title {
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  font-weight: 400;
  color: #595959;
}
.partners__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__item {
  height: 44px;
  max-width: calc(308px - 64px);
  margin: 0 32px;
}
.partners__item:first-child {
  height: 50px;
  padding-top: 6px;
}
.partners__item img {
  display: block;
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .partners{
    padding: 50px 0;
  }
  .partners__wrap {
    flex-direction: column;
  }

  .partners__item:not(:last-child) {
    margin: 0 0 32px;
  }
  .partners__item:first-child {
       margin: 0 0 26px;
  }
}
.services-widget {
  padding: 140px 0 122px;
}
@media (max-width: 1023.98px) {
  .services-widget {
    padding: 70px 0 122px;
  }
}
.services-widget__title {
  text-align: center;
  margin-bottom: 20px;
}
.services-widget__subtitle{
  text-align: center;
  margin-bottom: 60px;
}
.services-widget__cards {
  display: flex;
  justify-content: space-between;
}
.services-widget__cards a{
  flex:0 1 25%;
  text-decoration: none;
}
a>.services-widget__card {
  margin: 0 12px;
  width: calc(100% - 24px);
  height: 100%;
}
div>.services-widget__card {
  margin: 0 12px;
  width: calc(100% - 24px);
}

@media (max-width: 1199.98px) {
  .services-widget__card {
    margin-bottom: 24px;
    width: calc(100% - 24px);
  }
}
@media (max-width: 767.98px) {
  .services-widget {
    padding: 48px 0 60px;
  }
  .services-widget__title {
    margin-bottom: 40px;
  }
  .services-widget__cards{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .services-widget__cards a{
    flex:0 1 100%;
    margin-bottom: 20px;
  }
  div>.services-widget__card {
    margin-bottom: 20px;
  }
  .services-widget__card {
    margin: 0 0 24px;
    width: 100%;
    text-align: center;
  }

  .service-card__icon{
    margin: 0 auto;
  }
}
.service-card {
  position: relative;
  padding: 40px 40px 73px;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
}
.service-card__icon {
  width: 48px;
  height: 48px;
}
.service-card__title {
  margin: 30px 0 22px;
  color:#0B223D;
}
.service-card__bottom-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

@media (max-width: 975.98px) {
  .service-card {
    padding: 38px 30px 38px;
  }
}
.cases {
  padding: 128px 0 105px;
}
.cases__title {
  margin-bottom: 70px;
  text-align: center;
}
.cases__items {
  display: flex;
  align-items: stretch;
}
.cases__item {
  width: calc(33.333% - 28px);
  margin: 0 14px;
}

@media (max-width: 767.98px) {
  .cases {
    padding: 50px 0 60px;
  }
  .cases__items {
    flex-wrap: wrap;
  }
  .cases__title {
    margin-bottom: 26px;
  }
  .cases__item {
    width: 100%;
    margin: 0;
  }
  .cases__item:not(:last-child) {
    margin-bottom: 36px;
  }
}
.case-item__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
}
.case-item__img {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
  border-radius: 12px;
  overflow: hidden;
}
a.case-item__img{
  display: block;
}
a.case-item__img:hover img{
  transform: translate3d(0,0,0) scale(1.2);
  box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.5);
}
.case-item__img img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s;
}
.case-item__img-btn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  top: 50%;
  left: 50%;
  max-width: 152px;
  transform: translate(-50%, -50%);
  border-color: #1D9CE3;
  color: #1D9CE3;
}
.case-item__desc {
  margin: 28px 0 30px;
  max-width: 348px;
}
.case-item__btn {
  margin-top: auto;
  max-width: 176px;
}
.case-item--second .case-item__btn {
  display: none;
}

@media (min-width: 1100px) {
  .case-item__img:hover .case-item__img-btn {
    opacity: 1;
    visibility: visible;
  }
  .case-item--second .case-item__img:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    content: "";
    transition: 0.3s;
  }
  .case-item--second .case-item__img:hover:after {
    opacity: 1;
  }
}
@media (max-width: 1100px) {
  .case-item--second .case-item__btn {
    display: flex;
  }
}
@media (max-width: 767.98px) {
  .case-item__btn {
    width: 100%;
    max-width: none;
  }
}
.info-block {
  padding: 140px 0 145px;
  position: relative;
}
.info-block--second:after{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  max-width: 1246px;
  background-image: url("../img/infoBlockbg.png");
  transform: translateX(-50%);
  content: "";
}
.info-block__title{

}
.info-block__wrap {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}
.info-block__img {
  max-width: 505px;
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
}
.info-block__img img {
  display: block;
  max-width: 100%;
}
.info-block__content {
  max-width: 625px;
  padding-right: 20px;
}
.info-block__desc {
  margin: 32px 0;
}
.info-block__btn--mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .info-block {
    padding: 48px 0 60px;
  }
  .info-block__wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-block__btn {
    margin-top: 24px;
    display: none;
  }
  .info-block__btn--mobile {
    display: flex;
  }
}
.testimonials {
  padding: 200px 0;
}
.testimonials .slick-slide {
  margin: 0 20px;
  outline: none;
}
.testimonials .slick-list {
  overflow: visible;
  width: 100%;
}
.testimonials__title {
  text-align: center;
}
.testimonials__desc {
  margin-top: 25px;
  text-align: center;
}
.testimonials__items {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
}
.testimonials__items .slick-dots{
  position: absolute;
  top: -68px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials__item {
  margin: 0 12px;
  width: calc(33.3333% - 24px);
}
.testimonials .slick-dots {
  list-style: none;
  margin-top: 26px;
  z-index: 2;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.testimonials .slick-dots .slick-active button:after {
  background-color: #0B223D;
}
.testimonials .slick-dots li button {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
}
.testimonials .slick-dots li button:after {
  position: static;
  width: 7px;
  height: 7px;
  background-color: #c4c4c4;
  content: "";
  border-radius: 50%;
}

@media (max-width: 1099.98px) {
  .testimonials {
    padding: 100px 0;
  }
}
@media (max-width: 767.98px) {
  .testimonials {
    padding: 48px 0 60px;
  }

}
.testimonial-card {
  padding: 32px 32px 40px;
  background: #FFFFFF;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.testimonial-card__head {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.testimonial-card__info{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.testimonial-card__avatar {
  margin-bottom: 24px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonial-card__avatar img {
  width: 100%;
}
.testimonial-card__company {
  margin-bottom: 3px;
}
.testimonial-card__name {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: #1D9CE3;
  text-align: center;
}
.testimonial-card__content{
  font-size: 26px;
  text-align: left;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.testimonial-card__content p + p {
  margin-top: 20px;
}

.contact {
  padding: 120px 0;
  background-color: #EFF8FF;
}
.contact__title {
  margin-bottom: 24px;
  text-align: center;
}
.contact__desc {
  text-align: center;
}
.contact__form {
  margin-top: 85px;
}

@media (max-width: 767.98px) {
  .contact {
    padding: 48px 0 60px;
  }
}
.contact-form {
  display: flex;
  align-items: stretch;
  position: relative;
}
.contact-form__col {
  width: calc(50% - 24px);
  margin: 0 12px;
  transition: 0.5s;
}
.contact-form__radio:not(:last-child) {
  margin-bottom: 24px;
}
.contact-form__field {
  margin-top: 36px;
}
.contact-form__field--area {
  flex-grow: 1;
}
.contact-form__body {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0 5px 7px rgba(209, 231, 246, 0.56);
  padding: 32px;
}
.contact-form__btn {
  margin-top: 40px;
}
.contact-form__status {
  position: absolute;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.contact-form--loading .contact-form__col {
  opacity: 0.7;
}
.contact-form--success .contact-form__col {
  opacity: 0;
}

@media (max-width: 975.98px) {
  .contact-form {
    flex-wrap: wrap;
  }
  .contact-form__radio:not(:last-child) {
    margin-bottom: 12px;
  }
  .contact-form__title {
    font-size: 20px;
  }
  .contact-form__body {
    margin-top: 12px;
    padding: 24px;
  }
  .contact-form__col {
    margin: 0;
    width: 100%;
  }
}
.contact-form-radio {
  display: block;
  position: relative;

}
.contact-form-radio input {
  display: none;
}
.contact-form-radio__wrap {
  border-radius: 12px;
  padding: 32px 85px 32px 32px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 0 5px 7px rgba(209, 231, 246, 0.56);
  background-color: rgba(255, 255, 255, 0.5);
}
.contact-form-radio:hover .contact-form-radio__wrap{
  background-color: rgba(255, 255, 255,1);
  box-shadow: 0px 0 5px 7px rgba(209, 231, 246, 0.9);
}
.contact-form-radio input:checked + .contact-form-radio__wrap {
  background-color: #FFFFFF;
  cursor: default;
}
.contact-form-radio__mark {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #36A2DF;
}
.contact-form-radio__mark:after {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  background-color: #0B223D;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}
input:checked + .contact-form-radio__wrap .contact-form-radio__mark:after {
  opacity: 1;
}
.contact-form-radio__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
}
.contact-form-radio__desc {
  margin-top: 24px;
}

@media (max-width: 1099.98px) {
  .contact-form-radio__wrap {
    padding: 32px 50px 32px 32px;
  }
  .contact-form-radio__mark {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
  }
  .contact-form-radio__mark:after {
    width: 10px;
    height: 10px;
  }
}
.contact-widget {
  padding: 40px 20px 43px 104px;
  border-radius: 12px 12px 0 0;
  width: 100%;
  max-width: 618px;
  background-color: #EFF8FF;
  position: relative;
}
.contact-widget:after {
  position: absolute;
  top: 100%;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #1D9CE3;
  border-radius: 0 0 12px 12px;
  content: "";
}
.contact-widget__item {
  display: flex;
  align-items: center;
}
.contact-widget__item:not(:last-child) {
  margin-bottom: 8px;
}
.contact-widget__title {
  margin-bottom: 40px;
}
.contact-widget__text {
  display: block;
  text-decoration: none;
  color: #0B223D;
  font-weight: 800;
}
.contact-widget__text--uline {
  text-decoration: underline;
}
.contact-widget__icon {
  margin-right: 24px;
}

@media (max-width: 1199.98px) {
  .contact-widget {
    padding: 40px 20px 43px 60px;
  }
  .contact-widget:after {
    height: 18px;
  }
}
@media (max-width: 1099.98px) {
  .contact-widget {
    padding: 40px 20px 43px 50px;
  }
  .contact-widget:after {
    height: 18px;
  }
}
@media (max-width: 767.98px) {
  .contact-widget {
    padding: 24px;
  }
  .contact-widget__icon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
  }
  .contact-widget:after {
    height: 6px;
  }
}
.services-exp {
  padding: 144px 0 118px;
}
.services-exp__card .services-exp-card__content {
  padding-right: 20px;
}
.services-exp__card:nth-of-type(n+2) {
  margin-top: 100px;
}
.services-exp__card:nth-of-type(2n) {
  flex-direction: row-reverse;
}
.services-exp__card:nth-of-type(2n) .services-exp-card__content {
  padding-left: 75px;
  padding-right: 0;
}

@media (max-width: 1439.98px) {
  .services-exp__card:nth-of-type(2n) .services-exp-card__content {
    padding-left: 20px;
    padding-right: 0;
  }
}
@media (max-width: 767.98px) {
  .services-exp {
    padding: 0 0 48px;
  }
  .services-exp__card:nth-of-type(2n) {
    flex-direction: column;
  }
}
.services-exp-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-exp-card__content {
  max-width: 690px;
}
.services-exp-card__content .btn span{
	white-space: nowrap;
}
.services-exp-card__img {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 488px;
  height: 488px;
  width: 100%;
  background-color: #EFF8FF;
  border-radius: 50%;
}
.services-exp-card__list {
  margin-top: 24px;
}
.services-exp-card__subtitle {
  margin: 24px 0;
}
.services-exp-card__btn {
  margin-top: 32px;
}

@media (max-width: 1099.98px) {
  .services-exp-card__img {
    flex-shrink: 0;
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 767.98px) {
  .services-exp-card {
    flex-direction: column;
  }
  .services-exp-card__content {
    order: 1;
  }
  .services-exp-card__title {
    font-size: 36px;
  }
  .services-exp-card__img {
    padding: 20px 0;
    background: linear-gradient(180deg, #EFF8FF 0.03%, rgba(239, 248, 255, 0) 99.97%);
    border-radius: 0;
    position: relative;
    height: auto;
    order: 0;
    overflow: visible;
  }
  .services-exp-card__img:after, .services-exp-card__img:before {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, #EFF8FF 0.03%, rgba(239, 248, 255, 0) 99.97%);
    height: 100%;
    left: 100%;
    top: 0;
    content: "";
  }
  .services-exp-card__img:before {
    left: auto;
    right: 100%;
  }
}
@media (max-width: 576px) {
  .services-exp-card:nth-of-type(n) .services-exp-card__content {
    padding-left: 0;
    padding-right: 0;
  }
  .services-exp-card__btn {
    width: 100%;
    max-width: none;
  }
  .services-exp-card__content {
    padding-left: 0;
  }
  .services-exp-card__img {
    width: 100%;
    max-width: none;
  }
  .services-exp-card__img img {
    width: 100%;
  }
}
.solution-widget {
  padding: 170px 0 80px;
}
.solution-widget__title {
  text-align: center;
  max-width: 985px;
  margin: 0 auto;
}
.solution-widget__subtitle {
  max-width: 1000px;
  text-align: center;
  margin: 32px auto 0px;
}
.solution-widget__steps {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.solution-widget__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution-widget__col:first-child {
  padding-right: 20px;
  padding-left: 90px;
}
.solution-widget__col:last-child {
  padding-right: 50px;
}
.solution-widget__item.solution-widget__item--mobile {
  display: none;
}
.solution-widget__item {
  max-width: 520px;
  height: 324px;
}

@media (max-width: 975.98px) {
  .solution-widget {
    padding: 50px 0;
  }
  .solution-widget__item.solution-widget__item--mobile {
    display: flex;
  }
  .solution-widget__steps {
    margin-top: 16px;
  }
  .solution-widget__item {
    max-width: none;
    height: auto;
  }
  .solution-widget__item:not(:last-child) {
    margin-bottom: 28px;
  }
  .solution-widget__col:nth-of-type(n) {
    padding-left: 0;
  }
  .solution-widget__col:last-child {
    display: none;
  }
}
.solution-widget-card {
  display: flex;
  align-items: center;
}
.solution-widget-card__title {
  margin-bottom: 12px;
}
.solution-widget-card__content {
  padding-top: 75px;
}
.solution-widget-card__number {
  color: #1D9CE3;
  margin-right: 40px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 100px;
  line-height: 1.2;
  letter-spacing: -2px;
}
.solution-widget-card--reverse {
  flex-direction: row-reverse;
  position: relative;
}
.solution-widget-card--reverse .solution-widget-card__top-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 88px;
  border-radius: 0 30px 0 0;
  border-top: 2px solid #1D9CE3;
  border-right: 2px solid #1D9CE3;
}
.solution-widget-card--reverse .solution-widget-card__top-line:after {
  position: absolute;
  top: 88px;
  right: 0;
  width: 14px;
  height: 14px;
  background-color: #1D9CE3;
  border-radius: 50%;
  transform: translate(50%, -50%);
  content: "";
}
.solution-widget-card--reverse .solution-widget-card__bottom-line {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 88px;
  border-radius: 0 0 30px 0;
  border-bottom: 2px solid #1D9CE3;
  border-right: 2px solid #1D9CE3;
}
.solution-widget-card--reverse .solution-widget-card__bottom-line:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: #1D9CE3;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  content: "";
}
.solution-widget-card--reverse .solution-widget-card__number {
  margin-left: 40px;
  margin-right: -50px;
}
.solution-widget-card--reverse .solution-widget-card__content {
  padding-top: 0;
  margin-right: auto;
}
.solution-widget-card--last {
  position: relative;
}
.solution-widget-card--last .solution-widget-card__line {
  position: absolute;
  width: 55px;
  height: 100%;
  left: -35px;
  bottom: 50%;
  border-radius: 30px 0 0 30px;
  border-left: 2px solid #1D9CE3;
  border-bottom: 2px solid #1D9CE3;
  border-top: 2px solid #1D9CE3;
  transform: translateX(-100%);
}
.solution-widget-card--last .solution-widget-card__line:after {
  position: absolute;
  top: 0;
  left: 55px;
  width: 14px;
  height: 14px;
  background-color: #1D9CE3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

@media (max-width: 975.98px) {
  .solution-widget-card {
    align-items: flex-start;
  }
  .solution-widget-card__content {
    padding-top: 5px;
  }
  .solution-widget-card__line {
    display: none;
  }
  .solution-widget-card__number {
    line-height: 1;
    font-size: 60px;
    margin-right: 12px;
  }
  .solution-widget-card__text {
    position: relative;
  }
  .solution-widget-card__text:before {
    position: absolute;
    right: 100%;
    top: 24px;
    margin-right: 32px;
    height: 100%;
    border-left: 2px solid #1D9CE3;
    content: "";
  }
  .solution-widget-card:not(:first-child) .solution-widget-card__number {
    position: relative;
  }
  .solution-widget-card:not(:first-child) .solution-widget-card__number:before {
    width: 10px;
    height: 10px;
    background-color: #1D9CE3;
    position: absolute;
    left: 50%;
    bottom: 100%;
    border-radius: 50%;
    transform: translateX(-40%);
    content: "";
  }
  .solution-widget-card--last .solution-widget-card__text:before {
    display: none;
  }
}
.drives {
  padding: 90px 0;
}
.drives__title {
  text-align: center;
  margin-bottom: 70px;
}

.icons-table {
  display: flex;
}
.icons-table__icon {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.icons-table__icon img {
  width: 100%;
}
.icons-table__item {
  padding: 0 60px;
  width: 33.33333333%;
  text-align: center;
}
.icons-table__title {
  margin: 24px 0 10px;
}

@media (max-width: 1199.98px) {
  .icons-table__item {
    padding: 0 20px;
  }
}
@media (max-width: 767.98px) {
  .icons-table {
    flex-direction: column;
    align-items: center;
  }
  .icons-table__icon {
    width: 52px;
    height: 52px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .icons-table__title {
    margin-top: 0;
  }
  .icons-table__item {
    text-align: left;
    width: 100%;
    padding: 0;
    display: flex;
  }
  .icons-table__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.bTransform {
  padding: 95px 0;
  color: #fff;
}
.bTransform__title {
  color: #fff;
  text-align: center;
}
.bTransform__subtitle {
  text-align: center;
  max-width: 1256px;
  margin: 24px auto 60px;
}
.bTransform .icons-table__desc {
  color: #fff;
}

.team-widget {
  padding: 120px 0;
}
.team-widget__subtitle, .team-widget__title {
  text-align: center;
}
.team-widget__subtitle {
  max-width: 1256px;
  margin: 24px auto 87px;
}
.team-widget__card {
  margin: 0 12px;
  width: calc(25% - 24px);
}
.team-widget__team {
  display: flex;
  align-items: stretch;
}

@media (max-width: 1099.98px) {
  .team-widget {
    padding: 48px 0 40px;
  }
  .team-widget__team {
    flex-direction: column;
  }
  .team-widget__card {
    width: 100%;
    margin: 0;
  }
  .team-widget__card:not(:last-child) {
    margin-bottom: 24px;
  }
}
.team-card {
  position: relative;
}
.team-card__avatar {
  width: 61%;
  margin: 0 auto;
  border-radius: 50%;
}
.team-card__avatar img {
  width: 100%;
}
.team-card__name {
  margin: 32px 0 8px;
  font-weight: 700;
  text-align: center;
  font-family: 'NotoSansJP', sans-serif;
}
.team-card__rank {
  text-align: center;
  font-weight: 600;
  color: #36A2DF;
}
.team-card__hidden-info {
  position: absolute;
  min-width: 408px;
  min-height: 388px;
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
.team-card:hover .team-card__hidden-info {
  opacity: 1;
}
.team-card__open {
  display: none;
}

@media (max-width: 1599.98px) {
  .team-card__hidden-info {
    min-width: 290px;
  }
}
@media (max-width: 1099.98px) {
  .team-card__avatar, .team-card__rank, .team-card__name {
    display: none;
  }
  .team-card__open {
    display: flex;
    position: absolute;
    right: 24px;
    top: 24px;
  }
  .team-card__open:after {
    content: "";
  }
  .team-card.active .team-card__open {
    transform: rotate(180deg);
  }
  .team-card__hidden-info {
    min-height: auto;
    min-width: 0;
    opacity: 1;
    visibility: visible;
    position: static;
    transform: none;
  }
}
.team-card-hidden {
  background-color: #fff;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.team-card-hidden__desc {
  line-height: 31px;
  margin-bottom: 32px;
  transition: 0.5s;
}
.team-card-hidden__rank {
  color: #36A2DF;
  font-weight: 600;
  font-size: 16px;
}
.team-card-hidden__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-top: auto;
}
.team-card-hidden__avatar {
  width: 64px;
  height: 64px;
  margin-left: 24px;
  border-radius: 50%;
}
.team-card-hidden__avatar img {
  width: 100%;
}

@media (max-width: 1099.98px) {
  .team-card-hidden {
    flex-direction: column-reverse;
  }
  .team-card-hidden__footer {
    flex-direction: row-reverse;
    text-align: left;
  }
  .team-card-hidden__avatar {
    margin-left: 0;
    margin-right: 16px;
  }
  .team-card-hidden__desc {
    max-height: 0;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 20px;
    transition: 0.5s;
    animation: slideUp linear forwards 0.5s;
  }

  .active .team-card-hidden__desc {
    margin-top: 20px;
    animation: slideDown forwards 0.5s linear;
  }
}
.take-challenge {
  padding: 164px 0;
}
.take-challenge__title {
  text-align: center;
  color: #fff;
}
.take-challenge__subtitle {
  max-width: 1000px;
  margin: 24px auto 0;
  text-align: center;
}

@media (max-width: 767.98px) {
  .take-challenge {
    padding: 48px 0 60px;
  }
}
.opportunities {
  padding: 140px 0;
}
.opportunities__title {
  text-align: center;
  margin-bottom: 72px;
}
.opportunities__item:not(:last-child) {
  margin-bottom: 24px;
}
.opportunities__footer-text {
  max-width: 600px;
  margin: 64px auto 24px;
  text-align: center;
}
.opportunities__email {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0B223D;
  margin: 24px auto 0;
}
.opportunities__email .icon {
  width: 24px;
  height: 24px;
  fill: none;
  margin-right: 12px;
}
.opportunities__email .text {
  font-size: 24px;
  line-height: 33px;
}

@media (max-width: 767.98px) {
  .opportunities {
    padding: 48px 0 60px;
  }
}
.opportunity-item {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #EFF8FF;
  padding: 28px 32px 28px 36px;
}
.opportunity-item:after {
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #36A2DF;
  content: "";
}
.opportunity-item__title {
  margin-right: auto;
}
.opportunity-item__time {
  display: flex;
  align-items: center;
  margin-right: 45px;
}
.opportunity-item__time .text {
  flex-shrink: 0;
}
.opportunity-item__time .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.opportunity-item__hidden {
  max-height: 0;
  display: none;
}
.opportunity-item__btn.mobile {
  border-radius: 0;
  display: none;
}
.opportunity-item__btn * {
  pointer-events: none;
}

@media (max-width: 767.98px) {
  .opportunity-item {
    flex-wrap: wrap;
    box-shadow: 0px 5px 20px rgba(131, 153, 233, 0.1);
    padding: 20px 20px 12px 20px;
  }
  .opportunity-item:after {
    width: 100%;
    height: 12px;
    bottom: 0;
    top: auto;
    transition: 0.5s;
    left: 0;
  }
  .opportunity-item.active:after {
    transform: scaleY(0);
  }
  .opportunity-item__btn {
    width: auto;
    max-width: none;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-left: 0;
  }
  .opportunity-item__btn:after {
    display: none;
  }
  .opportunity-item__btn.desk {
    display: none;
  }
  .opportunity-item__btn.mobile {
    display: flex;
  }
  .opportunity-item__close {
    position: absolute;
    right: 24px;
    top: 24px;
    border: none;
  }
  .opportunity-item__close:after {
    content: "×";
  }
  .opportunity-item__title {
    width: 60%;
  }
  .opportunity-item__time {
    margin-right: 0;
    width: 40%;
    justify-content: flex-end;
  }
  .opportunity-item__hidden-list {
    padding: 12px 0 0;
  }
  .opportunities__item.active .opportunity-item__hidden-list{
    padding-bottom: 16px;
  }
  .opportunity-item__hidden {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
    margin-right: -20px;
    margin-left: -20px;
    position: relative;
    display: block;
    animation: slideUp forwards 0.5s linear;
  }
  .opportunity-item.active .opportunity-item__btn {
    opacity: 0;
    visibility: hidden;
  }
  .opportunity-item.active .opportunity-item__hidden {
    padding-top: 16px;
    animation: slideDown forwards 0.5s linear;
  }
}
.oppPopup {
  max-width: 1000px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.oppPopup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 64px;
  position: relative;
  background-color: #EFF8FF;
}
.oppPopup__body {
  padding: 40px 64px 75px;
}
.oppPopup__close{
  position: absolute;
  right: 0;
  top: 0;
  padding: 21px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.oppPopup__close:after{
  color: #000;
  display: block;
  font-size: 18px;
  line-height: 1;
  content: '\2716';
}
.oppPopup__subtitle {
  margin-bottom: 16px;
}

.cases-widget {
  position: relative;
}
.cases-widget__left {
  max-width: 875px;
  position: absolute;
  top: 120px;
}
.cases-widget__item:not(:last-child) {
  margin-bottom: 100px;
}
.cases-widget__right {
  position: relative;
  padding: 120px 20px 141px;
  width: 37.3%;
  margin-left: auto;
  margin-right: -20px;
  min-width: 475px;
  background-color: #1B4270;
  color: #fff;
  min-height: 100%;
}
.cases-widget__right:after{
  position: absolute;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100%;
  transform: translateX(-2px);
  background-color: #1B4270;
  content: '';
}
.cases-widget__proj-title {
  margin-bottom: 32px;
}
.cases-widget__right-wrap {
  max-width: 360px;
  margin: auto;
}
.cases-widget__right-text {
  margin-top: 12px;
  color: #fff;
}
.cases-widget__proj-specs {
  margin-top: 60px;
}
.cases-widget__proj-item:first-child {
  margin-top: 32px;
}
.cases-widget__proj-item:not(:last-child) {
  margin-bottom: 65px;
}
.cases-widget__num {
  font-family: 'Bebas Neue',sans-serif;
  font-weight: 700;
  font-size: 104px;
  line-height: 104px;
}
.cases-widget__testimonials{
  padding-left: 130px;
  margin-top: 125px;
}
@media (max-width: 1438.98px) {
  .cases-widget__left {
    max-width: 745px;
  }
}
@media (max-width: 1299.98px) {
  .cases-widget__left {
    max-width: 600px;
  }
  .cases-widget__testimonials{
    padding-left: 100px;
    margin-top: 0;
  }
}
@media (max-width: 1199.98px) {
  .cases-widget__left {
    max-width: 550px;
  }
}
@media (max-width: 1099.98px) {
  .cases-widget {
    padding-top: 0;
    padding-bottom: 60px;
  }
  .cases-widget__wrap{
    display: flex;
    flex-wrap: wrap;
  }
  .cases-widget__left{
    position: static;
    order: 1;
  }
  .cases-widget__right{
    margin-right: 0;
    order: 0;
  }
  .cases-widget__right:after{
    display: none;
  }
  .cases-widget__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .cases-widget__proj-item:not(:last-child){
    margin-bottom: 20px;
  }
  .cases-widget__num {
    font-size: 80px;
    line-height: 90px;
  }
  .cases-widget__proj-title {
    text-align: center;
  }
  .cases-widget__left, .cases-widget__right {
    max-width: 700px;
    width: 100%;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 104.27%);
    margin: 0 -20px;
    padding: 0 20px;
  }
  .cases-widget__left {
    padding-left: 0;
    padding-right: 0;
  }
  .cases-widget__right {
    min-width: 0;
    padding: 20px 0px 48px 20px;
    margin-right: 0;
    position: static;
    color: #0B223D;
  }
  .cases-widget__right-text {
    color: #0B223D;
  }
  .cases-widget__right-wrap {
    max-width: none;
    width: 100%;
  }
  .cases-widget__num {
    color: #36A2DF;
  }
  .cases-widget__num-text {
    margin-left: 12px;
    color: #0B223D;
  }
  .cases-widget__proj-item {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .cases-widget {
    padding-bottom: 60px;
  }
  .cases-widget__num {
    font-size: 60px;
    line-height: 80px;
  }
  .cases-widget__proj-item:nth-of-type(n) {
    margin-bottom: 0;
  }
}
.cases-widget-card {
  position: relative;
  padding-left: 130px;
}
.cases-widget-card__icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  top: 0;
  margin-right: 50px;
}
.cases-widget-card__icon img {
  width: 100%;
}
.cases-widget-card__title {
  margin-bottom: 12px;
}

@media (max-width: 1299.98px) {
  .cases-widget-card {
    padding-left: 100px;
  }
  .cases-widget-card__icon {
    right: auto;
    left: 0px;
    width: 65px;
    height: 65px;
    margin-right: 30px;
  }
}
@media (max-width: 1099.98px) {
  .cases-widget-card__icon {
    left: 20px;
    width: 52px;
    height: 52px;
    margin-right: 20px;
  }
}
.cases-widget-testim__title {
  color: #36A2DF;
  margin-bottom: 16px;
}
.cases-widget-testim__desc p + p {
  margin-top: 24px;
}

.cases-widget-testim__avatar {
    margin-right: 24px;
    width: 72px;
    height: 72px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    border-radius: 50%;
}
.cases-widget-testim__avatar img{
    width: 100%;
    display: block;

}
.cases-widget-testim__info {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.cases-widget-testim__company {
  margin-bottom: 4px;
}
.cases-widget-testim__name {
  color: #36A2DF;
  font-weight: 800;
}

@media (max-width: 1099.98px) {
  .cases-widget-testim {
    padding: 0 20px;
  }
}
.connect-with {
  padding: 87px 0;
  color: #fff;
}
.connect-with__wrap {
  max-width: 792px;
  text-align: center;
  margin: 0 auto;
}
.connect-with__subtitle {
  margin: 24px 0 44px;
}
.connect-with__btn {
  margin: 0 auto;
}

.services {
  padding: 0;
}
.services__title-block {
  padding-bottom: 140px;
  padding-top: 140px;
}
.services__title-block .title-block__desc{
  margin-top: 43px;
}
.services__title-block .services-widget {
  padding-bottom: 0;
  margin-top: -10px;
  transform: translateY(10px);
}
.services__title-block .title-block__wrap{
  max-width: none;
}
@media (max-width: 1099.98px) {
  .services__title-block {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767.98px) {
  .services__title-block {
    padding-top: 48px;
    padding-bottom: 0;
  }
}
.ourWork__title-block {
  padding-top: 74px;
  padding-bottom: 140px;
}
.ourWork__title-block .title-block__uptext{
  text-align: center;
  color: #595959;
  margin-bottom: 40px;
}
.ourWork__title-block .cases {
  padding: 72px 0 0;
}

@media (max-width: 767.98px) {
  .ourWork__title-block {
    padding-top: 24px;
    padding-bottom: 62px;
  }
}
.career__title-block {
  padding-top: 196px;
  padding-bottom: 196px;
}

@media (max-width: 767.98px) {
  .career__title-block {
    padding: 0px 0 60px;
  }
}
.blog__pagin,.page-numbers {
  margin-top: 50px;
}
.blog__posts {
  padding-bottom: 246px;
}

@media (max-width: 767.98px) {
  .blog__title-block {
    padding-bottom: 48px;
  }
  .blog__title-block .title-block__wrap {
    align-items: flex-start;
  }
  .blog__title-block .title-block__img {
    margin-left: auto;
    transform: none;
    max-width: 245px;
  }
}
.post-preview {
  padding: 40px 0 24px;
}
.post-preview__title {
  margin: 24px 0 16px;
  font-size: 32px;
}
.post-preview__img {
  /*margin-top: 24px;*/
}
.post-preview__img img {
  width: 100%;
}
.post-preview__author {
  display: flex;
  margin-bottom: 15px;
}
.post-preview__date {
  display: flex;
  align-items: center;
}
.post-preview__date:after {
  width: 4px;
  height: 4px;
  margin: 0 10px;
  background-color: #595959;
  position: static;
  display: block;
  border-radius: 50%;
  content: "";
}
.post-preview__content-title {
  /*margin: 24px 0 16px;*/
}
.post-preview__text p{
  font-size: 22px;
  line-height: 31px;
}
.post-preview__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 0 32px;
  border-bottom: 1px solid #DBDDDE;
}
.post-preview__link {
  font-weight: 700;
  font-size: 16px;
  color: #595959;
  line-height: 24px;
  text-decoration: none;
  transition: 0.3s;
}
.post-preview__link:hover {
  color: #36A2DF;
}
.post-preview__download {
  display: block;
  width: 22px;
  height: 22px;
  transition: 0.3s;
  color: #595959;
}
.post-preview__download:hover {
  color: #36A2DF;
}

.post {
  padding-bottom: 100px;
}
.post__head {
  padding-top: 48px;
  position: relative;
}
/*.post__head:after {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  height: 156px;*/
/*  width: 100%;*/
/*  background-color: #fff;*/
/*  content: "";*/
/*}*/
.post__breadcrumb {
  display: flex;
  align-items: center;
  color: #595959;
  text-decoration: none;
  margin-bottom: 48px;
}
.post__breadcrumb .icon {
  margin-right: 8px;
}
.post__breadcrumb:hover .icon {
  animation: arrow 0.3s linear;
}
.post__subtitle {
  margin: 24px 0 32px;
}
.post__info {
  display: flex;
  justify-content: space-between;
}
.post__download {
  display: block;
  width: 22px;
  height: 22px;
  transition: 0.3s;
  color: #595959;
}
.post__download:hover {
  color: #36A2DF;
}
.post__img {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
.post__img img {
  width: 100%;
}
.post__content{
  font-family: 'NotoSansJP', sans-serif;
}
.post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
  margin: 32px 0 16px;
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
}
.post .post__content img{
	max-width: 100%;
	height: auto;
}
.post__head h1{
  font-weight: 700;
}
.post__content h1 span{
  font-size: 48px;
  line-height: 60px;
}
.post__content h2 span{
  font-size: 30px;
  line-height: 36px;
}
.post__content b,
.post__content p{
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.003em;
}
.post__content p span{
  font-size: 25px;
  line-height: 32px;
}
.post__content p a, .post__content ul li a {
  color: #36A2DF;
}
.post__content p a:hover, .post__content ul li a:hover {
  color: #1D9CE3;
}
.post__content ul li{
  font-size: 21px;
  line-height: 32px;
  margin-top: 2em;
}

.case-temp__title-block {
  padding: 187px 0 190px;
  position: relative;
}
.case-temp__title-block .title-block__img {
  max-width: 815px;
  width: 58%;
  transform: translate(18%,-50%);
}
.case-temp__title-block--3 .title-block__img {
  max-width: none;
  width: 100%;
  right: 0;
  top: 0;
  transform: none;
  height: 100%;
}
.case-temp__title-block--3 .title-block__img img {
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.about__title-block{
  padding-top: 160px;
}
.about__title-block .title-block__img{
  width: 90%;
}
.about__title-block .title-block__wrap,.career__title-block .title-block__wrap{
  max-width: 1380px;
  margin: 0 auto;
}
.about__title-block .title-block__title{
  max-width: 640px;
}
.about__title-block .title-block__subtitle{
  max-width: 640px;
  margin-top: 40px;
}
.career__title-block .title-block__subtitle{
  max-width: 640px;
  margin-top: 34px;
  margin-bottom: 60px;
}

@media (max-width: 1399.98px) {
  .case-temp__title-block .title-block__wrap{
    max-width: none;
  }
}
@media (max-width: 1199.98px) {
  .case-temp__title-block{
    padding: 100px 0;
  }
  .case-temp__title-block .title-block__img {
    right: 0;
    left: auto;
    transform: translate(40%, -50%);
  }
  .case-temp__title-block--3 {
    padding: 80px 0;
  }
  .case-temp__title-block--3 .title-block__img {
    transform: none;
  }
  .case-temp__title-block--3 .title-block__img img {
    height: 100%;
    object-position: 0 -150px;
  }
}
@media (max-width: 1099.98px) {
  .contact-widget {
    border-radius: 12px;
    background-color: #1d9ce3;
  }
  .contact-widget__text {
    color: #ffffff;
  }
  .nav .nav__link:not(:last-child) {
    margin-right: 28px;
    float: left;
    display: block;
  }
  .nav .nav__link {
    display: block;
    float: left;
  }
  .nav .nav__link .nav__submenu li {
    margin-right: 28px;
    display: block;
    float: left;
  }
  .cases .cases__items .cases__item {
    position: relative;
    padding-bottom: 50px;
  }
  .cases .cases__items .cases__item .case-item__btn {
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .case-temp__title-block{
    padding: 20px 0 60px;
  }
  .case-temp__title-block .title-block__img {
    width: auto;
    transform: none;
    margin-bottom: 24px;
  }
  .case-temp__title-block--3 .title-block__img {
    display: none;
  }
  .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
    margin: 32px 0 16px;
  }
  .post__content h1{
    margin: 32px 0 16px;
  }
  .post__content h1 span{
    font-size: 34px;
    line-height: 42px;
  }
  .post__content h2 span{
    font-size: 22px;
    line-height: 28px;
  }
  .post__content p{
	font-size: 18px;
	line-height: 28px;
  }
  .post__content p span{
    font-size: 18px;
    line-height: 28px;
  }
  .post__content ul li{
    font-size: 18px;
    line-height: 28px;
    margin-top: 1.56em;
  }
}

textarea.cust-input__input{
	font-family: arial;
}

section.post .post__content picture{
	display: block;
    text-align: center;
}


#empty-message{
  display: none;
  color: red;
  padding-top: 5%;
}

.breadcrumbs{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 30px;
}
.breadcrumbs li{
  position: relative;
  padding-left: 15px;
}
.breadcrumbs li a{
  margin-right: 10px;
  text-decoration: none;
  color: #0b223d;
  position: relative;
}
.breadcrumbs li:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #229CDF;
  transform: translateY(-50%);
}
.breadcrumbs li:first-child{
  padding-left: 0;
}
.breadcrumbs li:first-child:before{
  display: none;
}
.breadcrumbs li a:hover{
  color: #1d9ce3;
  text-decoration: none;
}
.flex-center{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.blog-page .breadcrumbs {
  padding-top: 30px;
}
.blog__posts-wrap {

}
.blog__post {
	border-bottom: 1px solid #dbddde;
	display: table;
}
.post-preview__title {
	color: #0b223d;
}
.blog__posts .text_blog_post {
	float: left;
	width: 79%;
}
.blog__posts .img_blog_post {
	float: right;
	width: 20%;
	margin-left: 1%;
}
.blog__posts .img_blog_post img {
	width: 100%;
	height: auto;
}
.post-preview__footer {
	border-bottom: none;
}
.news-letter{
  background: #eff8ff;
  padding: 50px 0;
}
.news-letter .cust-input__input{
  color: #000;
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #1d9ce3;
}

.news-letter-form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.news-letter__wrap{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.news-letter__text{
  width: 50%;
  padding: 0 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  font-family: 'NotoSansJP',sans-serif;
  color: #000;
}
.news-letter-form{
  padding: 0 15px;
  width: 50%;
}
.news-letter-form__btn{
  max-width: 250px;
  margin-left: 20px;
  min-height: 48px;
  /* color: #fff;
  border-color: #fff; */
}
.news-letter[data-container="false"]{
  padding-right: 30px;
  padding-left: 30px;
}
.footer__center .btn span{
  font-size: 14px;
}
.footer__center{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.footer__center .cust-input__input{
  font-size: 16px;
}
.footer__center .news-letter-form__btn{
  max-width: 100px;
}
.footer__center .container{
  padding-right: 0;
  padding-left: 0;
}
.footer__center .news-letter{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  flex-grow: 2;
  background: none;
  padding: 43px 0;
  padding-right: 15px;
}
.footer__center .news-letter__text{
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.footer__center .news-letter__text,
.footer__center .news-letter-form{
  width: 100%;
}
.footer__center .news-letter__wrap{
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  .testimonial-card__content{
    max-width: 100%;
    font-size: 15px;
    line-height: 20px;
  }
  .news-letter__wrap{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .news-letter__text,
  .news-letter-form{
    width: 100%;
  }
  .news-letter__text{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
	.blog__posts .text_blog_post {
		float: left;
		width: 100%;
	}
	.blog__posts .img_blog_post {
		float: right;
		width: 90%;
		margin-left: 0;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 480px){
  .footer__center .news-letter{
    padding-right: 0;
  }
  .news-letter-form .cust-input{
    margin-bottom: 20px;
  }
  .news-letter-form__btn{
    margin-left: 0;
    max-width: none;
  }
  .news-letter-form{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
#SubscribeStatus .flash__wrap{
  position: relative;
}
#SubscribeStatus .flash__close{
  display: none;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
  z-index: 3;
}
#SubscribeStatus.flash.active.flash--success .flash__close{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
#SubscribeStatus .flash__close svg{
  width: 30px;
  height: 30px;
}

.testimonials .slick-track{
  display: flex !important;
}

.testimonials .slick-slide{
  height: inherit !important;
}
.post-preview__cats{
  padding-right: 10px;
}
.post-preview__cat{
  margin-right: 5px;
  margin-bottom: 3px;
  line-height: 1.3;
  color: #fff;
  padding: 9px 13px 6px;
  border-radius: 7px;
}

.post-author{
  border-top: 2px solid #E8E8E8;
  border-bottom: 2px solid #E8E8E8;
  padding: 50px 0;
  margin: 50px 0 0;
}
.post-author__row{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.post-author__avatar{
  margin-right: 50px;
}
.post-author__avatar img{
  width: 180px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #E8E8E8;
}
.post-author__content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.post-author__content span{
  /* font-size: 20px; */
  margin-bottom: 30px;
}
.post-author__content .post-author__title{
  font-size: 24px;
}
@media only screen and (max-width: 1200px){
  .post-author__avatar{
    margin-right: 20px;
  }
  .post-author__avatar img{
    width: 140px;
    height: auto;
  }
}
@media only screen and (max-width: 991px){
  .post-author__avatar img{
    width: 90px;
    height: auto;
  }
  .post-author__content span{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .post-author__content{
    font-size: 14px;
  }
  .post-author{
    padding: 30px 0;
  }
}
@media only screen and (max-width: 767px){
  .post-author__avatar img{
    width: 64px;
    height: auto;
  }
}
@media only screen and (max-width: 480px){
  .post-author__avatar img{
    width: 32px;
    height: auto;
  }
}
